requests==2.32.3
pandas==2.2.3
plotly-6.0.1
numpy==2.0.2
tempfile2==0.1.2
kaleido==0.2.1
fastapi==0.115.6
uvicorn==0.33.0
load-dotenv==0.1.0
httptools==0.1.0
uvloop==0.21.0
urllib3==1.26.14
brotli==1.0.9